@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --font-primary: "Poppins", sans-serif;
  --color-sky-50: #f0f9ff;
  --color-sky-100: #e0f2fe;
  --color-sky-200: #bae6fd;
  --color-sky-300: #7dd3fc;
  --color-sky-400: #38bdf8;
  --color-sky-500: #0ea5e9;
  --color-sky-600: #0284c7;
  --color-sky-700: #0369a1;
  --color-sky-800: #075985;
  --color-sky-900: #0c4a6e;
}

* {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid aqua; */
}

body {
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--color-sky-100);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-family: var(--font-primary);
  color: var(--color-sky-800);
}

a {
  all: unset;
  cursor: pointer;
}

.button {
  all: unset;
  padding: 0.5rem 0.75rem;

  border-radius: 0.5rem;
  background-color: var(--color-sky-500);

  text-align: center;
  font-family: var(--font-primary);
  font-weight: 600;
  color: var(--color-sky-900);

  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.button:hover {
  background-color: var(--color-sky-600);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title > h1 {
  font-size: 64px;
}

form {
  width: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.form-card {
  min-width: 20rem;
  max-width: max-content;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;

  border-radius: 1rem;
  background-color: var(--color-sky-50);
  box-shadow: 0 0 2rem 0.25rem var(--color-sky-50);
}

.input,
.submit {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.input__label {
  font-family: var(--font-primary);
  font-weight: 500;
  color: var(--color-sky-900);
}

.input__form {
  all: unset;
  padding: 0.5rem 0.75rem;

  border-radius: 0.5rem;
  background-color: var(--color-sky-100);
  font-family: var(--font-primary);
  color: var(--color-sky-900);
}

thead {
  background-color: var(--color-sky-800);
}

thead > tr > th {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--color-sky-100);
}

tbody > tr > td {
  padding: 0.1rem;
  text-align: center;
}

.action {
  display: flex;
  gap: 1rem;
}
